.alert {
	background: rgba(0,0,0,0.87);
    margin-bottom: 2rem;
    padding: 1.2rem;
    border-radius: .4rem;
    color: #fff;
    font-weight: 300;
    font-size: 1.2rem;
    border: .1rem solid transparent;
    display: block;
    overflow: hidden;
	&.success {
		color: #3c763d;
		background-color: #dff0d8;
		border-color: #d6e9c6;
	}
	&.error{
		color: #a94442;
		background-color: #f2dede;
		border-color: #ebccd1
	}
	.close-alert{
		float: right;
    	font-weight: 900;
    	opacity: .5;
    	cursor: pointer;
    	&:hover{
    		color:#000;
    	}
	}
	.result{
		float: left;
	}
}