@import "variables.css.scss";

label{
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: .5rem;
    &.required{
        &:after{
            content:"*";
            margin-left: .5rem;
            font-size: 1rem;
            color: $pink;
        }
    }
}

input,
textarea,
.select2-container[dir="ltr"] {
    width: 100%!important;
    padding: .6rem 1.2rem;
    border: .1rem solid #dfe8f1;
    box-shadow: inset 1px 1px 3px #f6f6f6;
    -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
    -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
    border-radius: .4rem;
    &:focus,
    &.select2-container--open{
        outline: none;
        border-color: $aqua;
    }
    &.select2-container--open{
        border-bottom: 0 solid transparent;
    }
    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    }
}

input,
.select2-container{
    height: 3.5rem;
}

input[type="submit"],
button[type="submit"]{
    cursor: pointer;
    float: right;
}

textarea{
    resize: none;
}

.select2-container{
    &.select2-container--open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .select2-selection{
        height: 100%;
        min-height: inherit!important;
        border: 0 solid transparent!important;
        overflow-x: scroll; 
        > ul{
            padding: 0!important;
            min-width: 200%!important;
            > li {
                margin-top: 0!important;
                font-size: 1.1rem!important;
                padding-top: .2rem!important;
                padding-bottom: .2rem!important;
                > input{
                    margin-top: 0!important;
                    height: 1.9rem!important;
                }
            }
        }
    }
    .select2-dropdown{
        border: .1rem solid $aqua!important;
        border-top: 0 solid transparent!important;
        box-shadow: inset 1px 1px 3px #f6f6f6;
        -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
        -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
        .select2-results__option{
            font-size: 1.2rem;
            &.select2-results__option--highlighted[aria-selected]{
                background-color: $aqua!important;
            }
            &.select2-results__option[aria-selected=true]{
                background-color: #eee;
            }
        }
    }
}
