@import "variables.css.scss";

#page-header{
	background-color: rgba(252,252,252,.89);
	padding: 2rem 0;
	margin-top:4.8rem;
	margin-bottom:2rem;
	h1{
		font-size: 1.8rem;
	}
	.subtitle{
		color: $lightgrey;
		font-weight:300;
		font-size: 1.3rem;
	}
}

#main-header{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 999;
	width: 30rem;
	background: red;
	min-height: 100vh;
	background-color: $darkgrey;
	&.min-nav{
		#main-nav{
			ul {
				> div {
					padding-bottom: 0;
					> li {
						h2 {
							display: none;
						}
						a {
							p {
								display: none;
							}
							.material-icons{
								width: 4.6rem;
							    height: 4.6rem;
							    font-size: 2.2rem;
							    float: none;
							    margin: 0 auto;
							    display: block;
							    padding-top: 1.1rem;
							}
						}
					}
				}
			}
		}
	}
	#company-data{
		background-color: rgba(0,0,0,.22);
		padding: 1.5rem;
		display: block;
		overflow: hidden;
		#min-nav-btn{
			color: #fff;
			font-size: 2rem;
			cursor: pointer;
			&.active{
				width: 100%;
				text-align: center;
			}
		}
		#burger-menu-close{
			float: left;
			color: $pink;
			font-size: 2.4rem;
			cursor: pointer;
			font-weight: 900;
			display: none;
		}
	}
	#main-nav{
		padding: 2rem 1.5rem;
		ul {
			> div {
				padding-bottom: 2rem; 
				display: block;
				overflow: hidden;
				> li{ 
					padding-bottom: 1rem;
					display: block;
					overflow: hidden;
					&:first-child{
						padding-bottom: 0;
					}
					a{
						color : #858598;
						text-transform: capitalize;
						&:hover{
							color: rgba(255,255,255,.8);;
						}
						p{
							float: left;
							padding-top: .8rem;
						}
						.material-icons{
							float: left;
							background-color: rgba(0,0,0,.31);
							border: .1rem solid rgba(0, 0, 0, 0.2);
							opacity: .6;
							border-radius: .3rem;
							width: 3.2rem;
						    height: 3.2rem;
						    font-size: 1.6rem;
						    text-align: center;
						    padding-top: .7rem;
						    margin-right: 1rem;
						    color: #fff!important;
						}
					}
					h2{
						color: rgba(255,255,255,.5);
						text-transform: uppercase;
						font-size: 1.3rem;
						padding-bottom: 1rem;
					}
				}
			}
		}
		
	}
}

#second-header{
	position: fixed;
	width: 100%;
	right: 0;
	z-index: 998;
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	padding: 1rem 0;
	#burger-menu-open{
		float: left;
		color: $pink;
		font-size: 2.4rem;
		cursor: pointer;
		font-weight: 900;
		display: none;
	}
	#user-data{
		float: right;
		> li{
			position: relative;
			> a{
				color: #858598;
				text-transform: capitalize;
				font-weight: 600;
				.avatar-thumbnail{
					width: 2.8rem;
					height: 2.8rem;
					border-radius: 50%;
					float: left;
				}
				p{
					float: left;
					padding: .45rem 0;
					padding-left: .8rem;
				}
			}
			> ul{
				display: none;
				position: absolute;
				z-index: 1000;
				top: 3.5rem;
				right: 0;
				border-radius: .3rem;
				border:.1rem solid rgba(158,173,195,.16);
				box-shadow: 0 1px 7px 2px rgba(135,158,171,.2);
				background-color: #fff;
				padding:.5rem 0;
				min-width: 30rem;
				.user-profile{
					padding: 1rem 2rem;
					border-bottom: .1rem solid #dfe8f1;
					display: block;
					overflow: hidden;
					.avatar-thumbnail{
						width: 8rem;
						height: 8rem;
					}
					p{
						font-weight: 300;
						font-size: 1.5rem;
						padding-bottom: 1rem;
						> span {
							color: #979ca3;
							font-size: 1.3rem;
						}
					}
					> div:last-child{
						width: calc(100% - 8rem);
						width: -webkit-calc(100% - 8rem);
						width: -moz-calc(100% - 8rem);
						padding-left: 1.5rem;
					}
					a{
						font-weight: 300;
						color: $aqua;
						&:hover{
							text-decoration: underline;
						}
					}
				}
				.user-shortcut{
					ul{
						display: block!important;
						a {
							padding: .5rem 2rem;
							color: #858598;
							font-weight: 600;
    						font-size: 1.3rem;
							&:after{
								font-family: 'Material Icons';
					    		content: "keyboard_arrow_right";
					    		position: relative;
					    		top: .25rem;
    							float: right;
							}
							&:hover{
								background-color: #eff4f6;
								color: #2b2f33;
							}
						}
					}
				}
				.btn-logout{
					border-top: .1rem solid rgba(158,173,195,.16);
					padding: .5rem .5rem 0 .5rem;
					display: block;
					overflow: hidden;
					> a {
						background-color: $aqua;
						font-weight: 600!important;
						display: block;
						.material-icons{
							font-weight: 600!important;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width : 760px) {
	#main-header{
		#burger-menu-close{
			display: block!important;
		}
	}
	#second-header{
		#burger-menu-open{
			display: block;
		}
	}
}
