@import "variables.css.scss";

#main-header{
	position: fixed;
	width: 30rem;
	background: red;
	min-height: 100vh;
	background-color: #272634;

	#company-data{
		background-color: rgba(0,0,0,.22);
		padding: 1.5rem;
	}

	#main-nav{
		padding: 2rem 1.5rem;
		a{
			color : #858598;
			text-transform: capitalize;
			&:hover{
				color: rgba(255,255,255,.8);;
			}
		}
		h2{
			color: rgba(255,255,255,.5);
			text-transform: uppercase;
			font-size: 1.3rem;
			padding-bottom: 1rem;
		}
	}
}