@import "variables.css.scss";

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%; 
	font-family: Arial, Helvetica, sans-serif;
}

body {
	font-family: $mainfont;
	background-color:#F4F5F7; 
	color:#434343;
	font-size: 1.4rem;  
}

a{
	display:block;
	text-decoration:none;
}

ul,ol{
	list-style-type:none;
}

img,
input,
textarea,
label,
video,
i{
	display:block;
}

img{
	max-width: 100%;
}

input[type="checkbox"]{
	display: inline;
	height: inherit;
	width: inherit;
}

fieldset{
	border-color:transparent;
}

/********************* LAYOUT *********************/ 

.clearfix:before,
.clearfix:after {
	content: ' ';
	display: table;
}

.clearfix:after {
	clear: both;
}

.page{
	float: right; 
}

.container {
	margin: 0 auto;
	max-width: 128rem;
	position: relative;
	width: 95%;
}

.row{
	display: block;
	overflow: hidden;
	margin: 0 -1rem;
	padding-bottom: 1.5rem;
}

.col {
	float: left;
	padding: 0 1rem;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

.white-content{
	background-color: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	border-radius: .4rem;
	padding: 2.5rem 2em;
	h2{
		font-weight: 400;
	    font-size: 1.5rem;
	    border-bottom: .1rem solid #F7F7F7;
	    padding-bottom: 1.5rem;
	    margin-bottom: 2rem;
	}
}

.content-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 153px;
  &.avatar{
  	border-radius:50%;
  	width: 15rem;
  	height: 15rem;
  	border: .1rem solid #dfe8f1;
    box-shadow: inset 1px 1px 3px #f6f6f6;
    -webkit-box-shadow: inset 1px 1px 3px #f6f6f6;
    -moz-box-shadow: inset 1px 1px 3px #f6f6f6;
  }
  overflow: hidden;
  img{
    height: 100%;
    max-width: inherit;
  }
}

/********************* WIDTH *********************/

.total {
	width: 100%;
}

.moitie {
	width: 50%;
}

.tiers {
	width: 33.3%;
}

.deux-tiers {
	width: 66.7%;
}

.quart {
	width: 25%;
}

.trois-quart {
	width: 75%;
}

/********************* BUTTONS *********************/

.btn{
	text-align: center;
	color:#fff;
	text-transform: uppercase;
	font-size: 1.2rem;
	border-radius: .3rem;
	padding: .8rem 2rem;
	display: inline;
	cursor: pointer;
}


.btn-edit,
.btn-delete{
	margin-right: .08rem;
	.material-icons{
		padding: 0 1rem;
    	font-size: 1.5rem;
	}
}

.btn-aqua{
	background-color: $aqua;
	border:.1rem solid #339186;
	&:hover{
		background-color: #33B0A2;
	}
}

.btn-darkpurple{
	background-color: $darkpurple;
	border:.1rem solid #000026;
	&:hover{
		background-color: #33335C;
	}
}

/********************* ICONS *********************/

.material-icons{
	font-size: 1.4rem;
 	position: relative;
 	top: .2rem;
}







