@import "variables.css.scss";

.dataTables_length{
	display: none;
}	

.dataTables_filter{
	float: right;
	margin-bottom: 2rem;
}

.dataTables_info,
.dataTables_paginate{
	padding: 2rem 0 1rem 0;
}

.dataTables_info{
	float: left;
	font-size: 1.2rem;
	font-weight: 300;
}

.dataTables_paginate{
	float: right;
	a{
		display: inline;
		color: $pink;
		padding: .6rem 1.2rem;
		border:.1rem solid rgba(158,173,195,.16);
		font-weight: 300;
		border-left: 0;
		font-size: 1.2rem;
		cursor: pointer;
		&:first-child{
			border-left: .1rem solid rgba(158,173,195,.16);
		}
		&.previous,
		&.next{
			&.disabled{
				color: $lightgrey;
			}
		}
		&.previous{
			border-top-left-radius: .3rem;
			border-bottom-left-radius: .3rem;
			&:before{
				font-family: 'Material Icons';
	    		content: "keyboard_arrow_left";
	    		padding-right:.5rem;
			    font-size: 1.5rem;
			    position: relative;
			    top: .35rem;
			}
		}
		&.next{
			border-top-right-radius: .3rem;
			border-bottom-right-radius: .3rem;
			&:after{
				font-family: 'Material Icons';
	    		content: "keyboard_arrow_right";
	    		padding-left:.5rem;
			    font-size: 1.5rem;
			    position: relative;
			    top: .35rem;
			}
		}
		&.current{
			background-color: $pink;
			border-color:$pink;
			color:#fff;
		}
		&:focus{
			outline: none;
		}
	}
	> span > a {
		&:hover{
			color:#2b2f33;
			background-color: #f3f3f9;
			border-color: rgba(158,173,195,.16);
		}
	}
}

.dataTables_filter{
	> label {
		width: 22.5rem;
		float: right;
		position: relative;
		&:after{
	    	font-family: 'Material Icons';
	    	content: "search";
	    	font-size: 2rem;
		    position: absolute;
		    color: #dfe8f1;
		    top: 9px;
		    left: 1rem;
	    }
	    input[type="search"]{
		    appearance: none;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    border: .1rem solid #dfe8f1;
		    border-radius: 0;
		    height: 3.5rem;
		    box-shadow: inset 1px 1px 3px #f6f6f6;
		    padding-left: 3.5rem;
		}
	}
}

.dataTables_wrapper{
	overflow-x: auto;
	overflow-y: hidden;
}

.main-table{
	border:0 transparent solid;
	border-spacing: 0;
	width: 100%;
	border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
	th{
		background-color: blue;
		padding:1rem 1.8rem;
		text-align: left;
		background-color: #fff;
		border:.1rem solid rgba(158,173,195,.16);
		border-left: 0;
		font-size: 1.3rem;
		text-transform: capitalize;
		&:first-child{
			border-left:.1rem solid rgba(158,173,195,.16);
		}
		&.action{
			width: 115px!important;
		}
	}
	tbody{
		tr{
			&:last-child{
				td{
					border-bottom:.1rem solid rgba(158,173,195,.16);
				}
			}
			&:hover{
				background-color: rgba(158,173,195,.1);
			}
		}
		td{
			padding: 1rem 1.8rem;
			color: $lightgrey;
			font-weight: 400;
			font-size: 1.3rem;
			border:.1rem solid rgba(158,173,195,.16);
			border-bottom: 0;
			border-left: 0;
			&:first-child{
				border-left:.1rem solid rgba(158,173,195,.16);
			}
			&.user-roles{
				text-transform: capitalize;
			}
			.btn{
				margin-right: .2rem;
				padding:.8rem 0;
				float:left;
				.material-icons{
					padding: 0 1rem;
			    	font-size: 1.5rem;
				}
			}
		}
	}
	&.datatable{
		th{
			cursor: pointer;
			position: relative;
			text-transform: capitalize!important;
			&:after,
			&:before{
				font-family: 'Material Icons';
				position: absolute;
				top: 1rem;
			    right: 1.8rem;
			    font-size: 1.5rem;
			    text-transform: none;
			}
			&:after{
				content: "arrow_drop_down";
				top:1.5rem;
			}
			&:before{
				content: "arrow_drop_up";
			}
			&:focus{
				outline: none;
			}
			&.sorting_asc{
				&:after{
					display: none;
				}
				&:before{
					color: $aqua;
				}
			}
			&.sorting_desc{
				&:before{
					display: none;
				}
				&:after{
					color: $aqua;
				}
			}
			&.no-sorting{
				&:after,
				&:before{
					display: none;
				}
			}
		}	
	}
}