{% include 'AdminBundle::Includes/head.html.twig' %}
{% include 'AdminBundle::Includes/main-header.html.twig' %}
<div class="page">
    {% include 'AdminBundle::Includes/second-header.html.twig' %}
    {% block content %}{% endblock %}
</div>
{% include 'AdminBundle::Includes/main-footer.html.twig' %}