{% set route = app.request.get('_route') %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %} | Cactus </title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="author" content="Manon DESCHAMPS">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% stylesheets 'css/admin/*' filter='sass' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
</head>
<body>
{% if app.request.get('_route') != 'admin_security_login' %}
    {% include 'AdminBundle::Includes/main-header.html.twig' %}
    <div class="page">
        {% include 'AdminBundle::Includes/second-header.html.twig' %}
        <header id="page-header">
            <div class="container">
                <h1>{% block pageTitle %}{% endblock %}</h1>
                <p class="subtitle">
                    {% block pageSubTitle %}{% endblock %}
                </p>
            </div>
        </header>
{% endif %}
        <div class="container">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        	{% block content %}{% endblock %}
        </div>
{% if app.request.get('_route') != 'admin_security_login' %}
    </div>
{% endif %}

{% block footer %}{% endblock footer %}
{% javascripts 'javascript/library/jquery-3.1.1.min.js' 
               'javascript/library/jquery-ui.min.js' 
               'javascript/library/jquery.dataTables.min.js' 
               'javascript/library/datatable-launcher.js' 
               'javascript/admin/*'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

</body>
</html>