<img src="{{ asset('images/avatar/' ~ user.avatar) }}" onError="this.onerror=null;this.src='{{ asset('images/error/no-image.png') }}';">
<label for="original-file-upload">
  <i class="material-icons" id="burger-menu-close">
    cloud_upload
  </i>
</label>
   