{% extends 'AdminBundle::base.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

<h1>get all users</h1>
{% for user in users %}
	<li>{{ user.username|e }}</li>
{% endfor %}
	   
	
{% endblock %}