<header id="main-header">
    <div id="company-data">
        logo + company name
        {{ app.user.firstname }}
    </div>
    <nav id="main-nav">
        <ul>
            <li>
                <h2>overview</h2>
            </li>
            <li>
                <a href="{{ path('admin_index') }}">
                    <i class="material-icons">home</i>
                    admin dashboard
                </a>
            </li>
        </ul>
    </nav>
</header>  
