<header id="main-header">
    <div id="company-data">
        <i class="material-icons" id="burger-menu-close">close</i>
    </div>
    <nav id="main-nav">
        <ul>
            <div>
                <li>
                    <h2>overview</h2>
                </li>
                <li>
                    <a href="{{ path('admin_index') }}">
                        <i class="material-icons">home</i>
                        <p>admin dashboard</p>
                    </a>
                </li>
            </div>
            <div>
                <li>
                    <h2>users</h2>
                </li>
                <li>
                    <a href="{{ path('admin_show_users') }}">
                        <i class="material-icons">people</i>
                        <p>manage users</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_create_user') }}">
                        <i class="material-icons">add</i>
                        <p>create user</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin_update_user', {'id': app.user.id }) }}">
                        <i class="material-icons">face</i>
                        <p>my profile</p>
                    </a>
                </li>
            </div>
        </ul>
    </nav>
</header>  
