{% block footer %}{% endblock footer %}
<script src="{{ asset('javascript/library/jquery-3.1.1.min.js') }}"></script>
    {% javascripts 'javascript/admin/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>