{% block footer %}{% endblock footer %}
	{% javascripts 'javascript/library/jquery-3.1.1.min.js' 
				   'javascript/library/jquery.dataTables.min.js' 
				   'javascript/library/datatable-launcher.js' 
	               'javascript/admin/*'
	%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}

	
</body>
</html>


