<header id="second-header" class="clearfix">
    <div class="container">
        <ul id="user-data">
            <li>
                <a href="#!">
                    {{ app.user.firstname }} {{ app.user.lastname }}
                    <i class="material-icons">keyboard_arrow_down</i>
                </a>
                <ul>
                    <li class="btn-logout">
                        <a href="{{ path('admin_security_logout') }}" class="btn">
                            <i class="material-icons">power_settings_new</i>
                            logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>  
    </div> 
</header>  